version: '3.8'

services:
  app:
    environment:
      FLASK_ENV: production
    restart: unless-stopped
    
  nginx:
    restart: unless-stopped
    
  postgres:
    restart: unless-stopped
    
  redis:
    restart: unless-stopped
